html, body {
  height: 100%;
}

h1 {
  margin: 0;
}

main {
  background: url('../images/yard.png') no-repeat;
  width: 1024px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.cat-box {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: absolute;
}

#cat1 {
  top: 360px;
  left: 110px;
}
#cat2 {
  top: 240px;
  right: 150px;
}
#cat3 {
  top: 440px;
  right: 210px;
}
#cat4 {
  top: 515px;
  right: 39px;
}
#cat5 {
  top: 230px;
  right: 375px;
}
#cat6 {
  top: 535px;
  right: 445px;
}
#cat7 {
  top: 285px;
  left: 250px;
}
#cat8 {
  top: 45px;
  right: 145px;
}
#cat9 {
  top: 375px;
  left: 320px;
}
